{% extends 'main/layout.twig' %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading panel-title">
            <header>
                <span>{{ text }}</span>
                <small>{{ text_en }}</small>
            </header>
        </div>
          <div class="panel-body">
              <p>More info on <a href="https://github.com/kapxapot/plasticode-boilerplate">GitHub</a>.</p>
        </div>
    </div>
{% endblock %}
